{% extends "base.html" %}

{% block content %}
  <h1>Confirmer la suppression</h1>
  <p>Êtes-vous sûr de vouloir supprimer ce {{ type }} ?</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirmer</button>
    <a href="{% if type == 'directory' and object.parent %}{% url 'directory_detail' object.parent.pk %}{% elif type == 'directory' %}{% url 'directory_list' %}{% elif type == 'subdirectory' %}{% url 'directory_detail' object.parent.pk %}{% elif type == 'archived_document' %}{% url 'archived_documents' %}{% else %}{% url 'directory_detail' object.directory.pk %}{% endif %}" class="btn btn-secondary">Annuler</a>
  </form>
{% endblock %}
