{% extends 'base.html' %}

{% block content %}
    <br><br><br>
<div class="container mt-5 pt-5">
    <h1>{{ directory.name }}</h1><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Last Modified</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for subdirectory in subdirectories %}
                <tr>
                    <td>
                        <i class="fa fa-folder"></i>
                        <a href="{% url 'directory_detail' subdirectory.id %}">{{ subdirectory.name }}</a>
                    </td>
                    <td>{{ subdirectory.owner.username }}</td>
                    <td>{{ subdirectory.last_modified }}</td>
                    <td>{{ subdirectory.size }} bytes</td>
                </tr>
            {% endfor %}
         <!-- Affichage des fichiers -->
                {% for document in documents %}
                    <tr>
                        <td>
                            <i class="fas fa-file-alt"></i>
                            <a href="{{ document.file.url }}">{{ document.name }}</a>
                        </td>
                        <td>{{ document.owner.username }}</td>
                        <td>{{ document.last_modified }}</td>
                        <td>{{ document.size }} bytes</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
<div>
        <a href="{% url 'add_subdirectory' directory.id %}" class="btn btn-primary">Add Subdirectory</a>
        <a href="{% url 'add_document' directory.id %}" class="btn btn-secondary">Add Document</a>
    </div>
