{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-md-9">
    <!-- Upload File Section -->
    <div class="card mb-4">
        <div class="card-header text-white text-center">
            <h3 class="mb-0 fas fa-folder">Ajouter un Dossier</h3>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn bg-warning btn-sm">Enregistrer</button>
                    <a href="{% url 'directory_list' %}" class="btn bg-dark text-light btn-sm">Retour</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
