{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     
    <link rel="stylesheet" href="{% static 'ged/css/style-liberty.css' %}">
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link
        href="//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Gestion électronique des documents</title>
</head>
<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <!-- if logo is image enable this -->   
                <a class="navbar-brand" href="{% url 'directory_list' %}">
                    <img src="{% static 'ged/images/logo.png' %}" alt="Your logo" title="Your logo" style="height:50px;" />
                </a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mx-lg-auto">
                        
                        
                    </ul>
                </div>
                <!-- search button -->
                <div class="search-right ml-lg-3">
                    <div class="search-container">
                        <form action="/search" method="get">
                            <input class="search expandright" id="searchright" type="search" name="q"
                                placeholder="Search">
                            <label class="button searchbutton" for="searchright"><i class="fas fa-search"></i></label>
                        </form>
                    </div>
                </div>
                <!-- //search button -->
            </nav>
        </div>
    </header>
    <!--//header-->
    <br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <!-- Aside Section -->
            <aside class="col-md-3">
                <div class="aside-content">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="dropdown">
                              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-plus"></i>   Nouveau
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'add_directory' %}"><i class="fas fa-folder-plus"></i> Nouveau dossier</a>
                                <a class="dropdown-item" href="{% url 'add_document' %}"><i class="fas fa-file"></i> Importer fichier</a>
                              </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-home"></i>
                            <a href="{% url 'directory_list' %}">Accueil</a>
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-chart-bar"></i>
                            <a href="{% url 'statistics' %}">Statistiques</a>
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-archive"></i>
                            <a href="{% url 'archived_documents' %}">Archive</a>
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-trash"></i>
                            <a href="#">Corbeille</a>
                        </li>
                    </ul>
                </div>
            </aside>
            {% block content %}

            {% endblock content %}
        </div>
    </div>
    
<!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="{% static 'ged/js/jquery-3.3.1.min.js' %}"></script>
    <!-- //common jquery plugin -->

    <!-- banner slider -->
    <script src="{% static 'ged/js/owl.carousel.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.owl-blog').owlCarousel({
                stagePadding: 200,
                loop: true,
                nav: false,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        stagePadding: 40,
                        nav: false
                    },
                    480: {
                        items: 1,
                        stagePadding: 40,
                        nav: true
                    },
                    667: {
                        items: 2,
                        stagePadding: 50,
                        nav: true
                    },
                    1000: {
                        items: 2,
                        nav: true
                    }
                }
            })
        })
    </script>
    <!-- //banner slider -->

    <!-- magnific popup -->
    <script src="{% static 'ged/js/jquery.magnific-popup.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->

    <!-- theme switch js (light and dark)-->
    <script src="{% static 'ged/js/theme-change.js' %}"></script>
    <!-- //theme switch js (light and dark)-->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!-- bootstrap -->
    <script src="{% static 'ged/js/bootstrap.min.js' %}"></script>
    <!-- //bootstrap -->
    <!-- //Js scripts -->

<!-- jQuery -->
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>#}
    <script src="{% static 'ged/js/jquery-3.3.1.slim.min.js' %}"></script>

<!-- Popper.js -->
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>#}
    <script src="{% static 'ged/js/popper.min.js' %}"></script>

<!-- Bootstrap JS -->
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>#}
<script src="{% static 'ged/js/bootstrap.min.js' %}"></script>
</body>
</html>

